main{
    margin: 100px 0 50px 0;
}

main>section>div>div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main>section>div>.title{
    text-align: center;
    margin-bottom: 40px;
}

main>section>div>.content{
    display: flex;
}

main>section>div>.content>.column-1{
    flex: 1 1 auto;
    margin-right: 80px;
}

main>section>div>.content>.column-1>h4,
main>section>div>.content>.column-1>p{
    margin-bottom: 20px;
}

main>section>div>.content>.column-2{
    max-width: 40%;
}

@media (max-width: 1024px){
    main>section>div>.content{
        flex-direction: column-reverse;
    }

    main>section>div>.content>div{
        max-width: 100%!important;
        margin: 0!important;
    }

    main>section>div>.content>.column-1{
        padding: 0 50px 50px 50px;
    }

    main>section>div>.content>.column-2{
        padding-bottom: 0!important;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px!important;
    }
}


@media (max-width: 500px){
    main>section>div>.content>.column-2{
        padding: 20px;
        box-sizing: border-box;
    }

    main>section>div>.content>.column-2 img{
        width: 100%;
    }
}